.navbar-int {
  border-radius: 0;
  background: linear-gradient(90deg, #1e69de 0%,#3690f0 100%);
  border: 0;
  color: #fff;


  & li>a {
    color: #fff;

    &:hover {
      background-color: rgba(0, 0, 0, 0.13);
    }
  }

  em {
    color: #fff;
  } 

  a {
    color: #fff;
  }

  .dropdown-menu {
    background: #1e69de + rgba(0, 0, 0, 0.13);

    & li>a:hover {
      color: #fff;
    }
  }
}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: rgba(0, 0, 0, 0.13);
}