.portfolio--kitchen {
	background:url('../../img/images/portfolio/kitchen_catalog_bg.jpg') no-repeat center center;
		height: 600px;
		margin-bottom: 22px;
}

.portfolio--door {
		background:url('../../img/images/portfolio/Door_catalog_bg.jpg') no-repeat center center;
		height: 600px;
		margin-bottom: 22px;
}

.portfolio--window {
		background:url('../../img/images/portfolio/wind_catalog_bg.jpg') no-repeat center center;
		height: 600px;
		margin-bottom: 22px;
}



.thumbnail {
		border: none;
		padding: 15px;
}